<div class="full-profile">
   <h1>Hello {{profile.name}}</h1>
  <h3>Your Last Invitation</h3>
    <P>{{profile.email}}</P> 
<br/>
<table class="container">
  <thead>
    <tr>
      <th>Order Number</th>
      <th>Customer Id</th>
      <th>Amount</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr  scope="row" *ngFor="let order of ArOrders">
      <td>{{order.Id}}</td>
      <td>{{order.CustomerId}}</td>
      <td>{{order.Amount}}</td>
      <td>{{order.Price}}</td>
    </tr>
  </tbody>
</table>
</div>



