    .InvitationDiv{   background-color: rgb(32,26,19);
    width: 70%;
    margin-left: 55px;
    color: white;
    margin-top: 130px;
     font-family: Papyrus;
     clear: left;
     clear: right;
     position: static;
}  