<body class="rtl page page-id-28 page-template-default">
    <div class="container">
        <h1>The Chep Revolotion</h1>
        <h4>The restaurant was founded in 2017, in collaboration with two leading chefs</h4>
        <h4>
            <strong>keren aklom:</strong> <br/> Lives in Beer Sheva ,<br/> mostly Asian cooking ntmacha with just rich in restaurant business has 2 restaurants in TEL AVIV.
        </h4>

        <h4><strong> Hagit Warka:</strong><br/> Lives in AFULA,mostly MODERN cooking ntmacha with just rich in restaurant business has 4 restaurants in TEL AVIV.<br/>
        </h4>
        <h4>This site as being Publish In October 3, 2017 by Hagit Warka and keren aklom</h4>

        <h4>Here you can find multiple Delishes menu Created by the most greates Chef In Isreal.<br/> You can enjoey from quality meales made by the best fresh ingredient
        </h4>
    </div>

